/* .similar-items-container {
  display: grid;
  grid-template-rows: 50px 300px;
  margin: 50px 0;
  text-align: center;
}

.sim-title {
  font-size: 2rem;
}

.sim-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: space-evenly;
} */

.item-image{
  padding-top: 2rem;
}

.item-image img{
  max-width: 900px;
  object-fit: cover;
}


.sim-title {
  font-size: 2rem;
  padding-left: 6%;
  padding-top: 2%;
}

.sim-items {
  padding-left: 4%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.sim{
  padding: 2%;
}