/* NAVBAR --- */
.nav {
  /* grid-area: navbar; */
  /* grid-template-rows: repeat(2, min-content); */
  /*background-image: url('../img/bgimg.jpg') >>>> navbar bachground; need update logo later*/
  /* padding-top:6rem; */
  /* position:sticky;       sticky menu-box */
  /* top: 0; */
  z-index: 99;
  display: grid;
  grid-template-areas:
    'logo dropdown social';
  height: 150px;
  grid-template-columns: min-content 1fr min-content;
  grid-column-gap: 20px;
  padding: 0 20px;
  /* background: green; */
  background: none;
  border-radius: 0;
  position: fixed;
  width: calc(100vw - 10px);
  transition: background 1s ease;
}

/* LOGO ----------------------- */
.logo-div {
  grid-area: logo;
  padding-left: 10px;
}

.logo-div img {
  width: 200px;
}

/* MAIN NAVBAR  ------------------- */
.center-nav-div {
  /* margin-top: 123px; */
  /* position: fixed; */
  /* width: 90%; */
  /* background: hsl(210, 12.2%, 16.1%); */
  /* background:  black rgb(255, 255, 255); /* 2- navbar background */
  /*url("../img/background-image.jpg");*/
  grid-area: dropdown;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.center-nav-div a {
  /* overflow: hidden; */
  /* 1- nav component color */
  /* listWord color*/
  /* padding: 12px 25px; */
  /* size of onclick style    */
  /* without linkLine*/
  font-weight: bold;
  color: var(--white);
  transition: color 1.5s ease;
  text-decoration: none;
}

.center-nav-div a:hover {
  /* background-color: rgb(71, 68, 67) */
  /* background-color:rgb(122, 117, 117);opacity:0.9; */
  /* OnClick color*/
  /* height: 50px; */
  text-shadow: 2px 2px 2px var(--lightred);
}

.text-black a {
  color: var(--black) !important;
}

/* NAV MENU DROPDOWN --------------------------- */
.menu-link-div {
  position: relative;
}

.menu-link-div:hover .menu-dropdown {
  display: grid;
}

.menu-dropdown {
  /* grid-template-columns: ; */
  /* grid-auto-flow: column; */
  /* margin-top: 200px; */
  /*400px*/
  /*height: 80%;*/
  /* text-decoration: none; */
  /* padding: 10px; */
  /* transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; */
  /* background: rgb(168, 160, 160); */


  /* grid-template-rows: 1fr min-content; */
  /* grid-template-columns: 1fr; */
  /* grid-template-areas: */
  /* 'box-items' */
  /* 'full-menu-button'; */
  /* width: 100%; */
  /* color: rgb(15, 13, 13); */
  /* transform: translateY(-2em); */
  /* transition: all 0.3s ease-in-out; */
  /* justify-content: center; */
  /* align-items: center; */

  position: absolute;
  display: none;
  font-size: .8rem;
  z-index: 99;
  background-color: rgba(122, 117, 117, .9);
  padding: 0 10px 10px 10px;
  border-radius: 10px;
}

.menu-list {
  /* line-height: 5rem; */
  /* width: 200px; */
  /* font-size: 18px; */

  color: var(--white) !important;
}

.menu-list:hover {
  text-shadow: none !important;
  text-decoration: underline;
}

.box-items {
  /* float: left; */
  /* height: 400px; Should be removed. Only for demonstration */
  /* width: 25%; */

  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, 340px); */
  /* margin-top: 20px; */
  /* color: var(--black); */
  /* justify-content: center; */

  padding: 10px 0;
}

.full-menu {
  /* padding: 15px 15px; */
  /* cursor: pointer; */
  /* display: flex; */
  /* width: 100%; */
  /* color: var(--white); */
  /* text-decoration: var(--black); */
  /* text-align: center; */
  /* display: inline-block; */
  /* line-height: 1.25rem; */
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: .8125rem 1.5625rem; */

  background: var(--white);
  border: .0625rem solid #adadad;
  border-radius: .25rem;
  font-weight: bold;
  box-shadow: 0 0.09375rem 0.09375rem 0 rgba(0, 0, 0, .08);
  font-size: .875rem;
}

#full-menu-button {
  width: 200px;
}

#full-menu-button a {
  color: var(--black) !important;
}

#full-menu-button>a:hover {
  text-shadow: none !important;
  text-decoration: underline !important;
}

/* Create three equal columns that floats next to each other */


/* Clear floats after the columns -- not impo.*/

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  .box-item {
    width: 100%;
  }
} */



/* 

.img11 {
  height: 20%;
  width: 20%;
  margin-top: 15px;
  background: white;
  max-height: 50px;
  margin-right: 20px;
}



.full-menu a {
  text-decoration: none;
}

.full-menu-button-div {
  height: 15px;

  text-align: center;
  padding: 5%;
}


.box-item a {
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: WindowText;
}



.box-inner-item {
  margin: 20px 0;
} 

*/



/* SOCIAL MEDIA ICONS ------------------------ */
.social-icon-div {
  grid-area: social;
  display: flex;
  width: 200px;
  justify-content: space-around;
  font-size: 1.2rem;
  padding-right: 20px;
}

.social-icon-div a {
  color: var(--white);
  transition: color 1.5s ease;
}

.social-icon-div a:hover {
  text-shadow: 2px 2px 2px var(--lightred);
}