.navbar{
  grid-area: navbar;
  z-index:99;
  display: grid;
  grid-template-areas: 
   'logo-icon'
   'dropdown';
  height: 100px;
  grid-template-rows: repeat(2, min-content);
  /*background-image: url('../img/bgimg.jpg') >>>> navbar bachground; need update logo later*/
  /* padding-top:6rem; */
}


.logo-icon {
  grid-area: logo-icon;
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 1fr .2fr;
  align-items: center;
  position:fixed;
  top:0;
  left:0;
  right:0;
  background: #fff;
  color:#e67d31;
  padding:1rem 0;
}

.logo-div {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 120%;
}

.icon-div {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}

.dropdown-div {
  z-index:99;
  grid-area: dropdown;
  margin-top: 120px;
  position: fixed;
  width: 90%;
  background:hsl(210, 12.2%, 16.1%);
  display: flex;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(10, 6, 0);
}

.dropdown-div a:hover{
  background-color: rgb(71, 68, 67) /* OnClick color*/
  
}

.dropdown-div a{
  
  font-weight: bold;
  color: white; /* listWord color*/
  padding: 15px 25px; /* size of onclick style    */
  text-decoration: none; /* without linkLine*/
  
}

/* start test dropdown Abdul */
/* final display */
.list {
  margin: .5em 1em;
  padding: 1em;
}

/* hide */
.menu:not(:hover) .list {
  font-size: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  /* fade out, then shrink */
  transition: opacity .25s,
              font-size .5s .25s,
              margin .5s .25s,
              padding .5s .25s;
}

/* reveal */
.menu:hover .list {
  /* unshrink, then fade in */
  transition: font-size .25s,
              margin .25s,
              padding .25s,
              
              opacity .5s .25s;
             

}

