/* ---------- CREATE WIDGET */
.cpanel-create-div {
  margin-top: 20px;
  display: grid;
  grid:
    'left right' auto / 1fr 1fr
}

.create-form {
  grid-area: form;
  display: grid;
  /* grid:
    'left right' auto / 1fr 1fr
    'submit' auto */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    'left right'
    'submit submit';
}

.create-form-left {
  grid-area: left;
  padding: 0 2rem;
}

.create-form-right {
  grid-area: right;
  padding: 0 2rem;
}

.create-form-submit {
  margin-top: 50px;
  grid-area: submit;
}

/* ---------- EDIT WIDGET */
.cpanel-edit-div {
  margin-top: 20px;
  display: grid;
  grid:
    'image form' auto / 1.25fr 2fr
}

.edit-image {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-form {
  grid-area: form;
  display: grid;
  /* grid:
    'left right' auto / 1fr 1fr
    'submit' auto */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    'left right'
    'submit submit';
}

.edit-form-left {
  grid-area: left;
  padding: 0 2rem;
}

.edit-form-right {
  grid-area: right;
  padding: 0 2rem;
}

.edit-form-submit {
  margin-top: 50px;
  grid-area: submit;
}

